<div class="card">
    <div class="card-header"><label>Data Info</label></div>
    <div class="card-body">
        <ul>
            <li id="totalcols" value="{{ col }}">Columns : {{ col }}</li>
            <li id="totalrows" value="{{ row }}">Rows : {{ row }}</li>
            {% for key,value in dtypes.items %}
            <li>{{ key }} : {{ value }}</li>
            {% endfor %}
            <li>Memory: {{ memory }} KB</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header"><label>Features Info</label></div>
    <div class="card-body">
        <ul id="valCheck">
            {% for feature,dtype in features_dtypes.items %}
            <li> {{ feature }} : {{ dtype }} : <input  id= {{ feature }} value={{ feature }} type="checkbox" class="checking" checked ></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <label>Classification Models Info</label>
    </div>
    <div class="card-body">
       <div id="saved_models_info">

       </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <label>Clustering Models Info</label>
    </div>
    <div class="card-body">
        <div id="saved_cluster_models">

        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <label>Regression Models Info</label>
    </div>
    <div class="card-body">
        <div id="saved_regression_models">

        </div>
    </div>
</div>