<div id="dismiss">
    <p>Close</p>
</div>

<div class="sidemenuHeader">
    <label class="sidemenulabelHeader">Quick ML</label>
</div>
<div class="panel-group" id="augmentMenu" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
            <a role="button" href="#" id="basic_stats">
                Basic Statistics
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
            <a role="button" href="#" id="time_series">
                Time Series
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3">
            <a role="button" href="#" id="weekdays">
                Weekdays
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
            <a role="button" href="#" id="encounter_class">
                Encounter Class
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
            <a role="button" href="#" id="financial_class">
                Financial Class
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
            <a role="button" href="#" id="xregs">
                External Regressors
            </a>
        </div>
    </div>
    <!--div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7">
            <a role="button" href="#" id="forecast">
                Forecast
            </a>
        </div>
    </div-->
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading7">
            <a role="button" href="#" id="acf_pacf">
                ACF and PACF
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading8">
            <a role="button" href="#" id="forecast">
                Forecast
            </a>
        </div>
    </div>
</div>
