<div id="dismiss">
    <p>Close</p>
</div>
<div class="sidemenuHeader">
    <label class="sidemenulabelHeader">Quick ML</label>
</div>
<div class="panel-group" id="augmentMenu" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
            <a role="button" href="#" id="visual">
                Visualization
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
            <a role="button" href="#" id="model">
                Modelling
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3">
            <a role="button" href="#" id="validate">
                Validating
            </a>
        </div>
    </div>
</div>
