<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>ACF</label>
            </div>
            <div id="acf_plot" class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>PACF</label>
            </div>
            <div id="pacf_plot" class="card-body">
            </div>
        </div>
    </div>
</div>