<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <label>Basic Stats Data</label>
            </div>
            <div id="statistics" class="card-body" style="width:100%; height:100%">
            </div>
            <div class="card-header">
                <label>Inference</label>
            </div>
            <div id="betype" class="card-body" style="width:100%;">
                <table class="table table-responsive">
                    <tbody>
                        <tr>
                            <td>No of Months:</td>
                            <td id="months_count"></td>
                        </tr>

                        <tr>
                            <td>Billing Entity Type:</td>
                            <td id="be_type"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
     </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <label>Monthly Cash Inflow Mean</label>
            </div>
            <div id="monthly_boxplot" class="card-body" style="width:100%; height:550px">
            </div>
        </div>
    </div>
</div>


