<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Line Chart For Encounter Class Wise Cash Inflow Per Month</label>
            </div>
            <div id="ec_line_chart" class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Encounter Class Wise Cash Inflow</label>
            </div>
            <div id="ec_bar_plot" class="card-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Encounter Class Wise Charges Posted</label>
            </div>
            <div id="ec_charges" class="card-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Encounter Class Wise Footfall</label>
            </div>
            <div id="ec_footfall" class="card-body">
            </div>
        </div>
    </div>
</div>