<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Time Series For Financial Class Wise Cash Inflow Distribution Per Month</label>
            </div>
            <div id="fc_line_chart" class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Cash Inflow Per Financial Class</label>
            </div>
            <div id="fc_bar_plot" class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Financial Class Wise Charges Posted</label>
            </div>
            <div id="fc_charges" class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Financial Class Wise Footfall</label>
            </div>
            <div id="fc_footfall" class="card-body">
            </div>
        </div>
    </div>
</div>