<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Quaterly Forecast Of Cash Inflow</label>
            </div>
            <div id="forecast_graph" class="card-body">
            </div>
            <div>
                <h5><b><p style="margin-left: 150px;display: inline;">Error(MAPE) On Validation: </p><p style="display: inline;" id="mape_info"></p></b></h5>
                <h5><b><p style="margin-left: 150px;display: inline;">Best Model: </p><p style="display: inline;" id="model_chosen"></p></b></h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Feature Importance</label>
            </div>
            <div id="feature_imp" class="card-body">
            </div>
        </div>
    </div>
</div>