<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Time Series For Cash Inflow Per Month</label>
            </div>
            <div id="ts_rolling_plot" class="card-body" style="overflow:scroll;overflow-x:scroll;overflow-y:hidden;">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Line Chart For Aggregated Cash Inflow Per Month</label>
            </div>
            <div id="ts_line_chart" class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Mean Cash Inflow Per Month</label>
            </div>
            <div id="ts_bar_plot" class="card-body">
            </div>
        </div>
    </div>
</div>

