<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Bar Plot For Cash Inflow Per Weekday</label>
            </div>
            <div id="wd_bar_plot" class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Line Chart For Aggregated Cash Inflow Per Week Day</label>
            </div>
            <div id="wd_line_chart" class="card-body">
            </div>
        </div>
    </div>
</div>
