{% load static %}
<div class="row" id="row0">
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="ts_ext_regressors" class="card-header">
                <label>Time Series For External Regressors</label>
                <div style="float: right">
                    <select style="width: 100px"  id="select_xreg">
                            <option value="" disabled selected>Choose the external regressor</option>
                            <option value="total_charge" >Charges</option>
                            <option value="footfall" >Footfall</option>
                    </select><!-- onchange="exregs_plot()"-->
                </div>
            </div>
            <div id="ts_xregs_plots" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
</div>
<div class="row" id="row1">
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="ex_regressor" class="card-header">
                <label>External Regressors Behaviour With Cash Inflow</label>
                <!--div style="float: right">
                    <select style="width: 100px"  id="select_xreg">
                            <option value="" disabled selected>Choose the external regressor</option>
                            <option value="total_charge" >Charges</option>
                            <option value="footfall" >Footfall</option>
                </div-->
            </div>
            <div id="xregs_plots" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
</div>
<div class="row" id="row2_hidden">
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="ex_regressor" class="card-header">
                <label>Lagged Correaltion With Cash Inflow</label>
            </div>
            <div id="xregs_co-realation_plots" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
</div>
<div class="row" id="row3">
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="ex_regressor" class="card-header">
                <label>Payer Wise Lagged Correlation With Payments</label>
            </div>
            <div id="xregs_co-realation_stats" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
</div>

