<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>{{ feature }}</label>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Class</td>
                            <td>Count</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for  key, value in table_data.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <label>Distribution</label>
            </div>
            <div id="sample_plot" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
</div>