{% load static %}
<div class="row" id="row1">
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="distributionplotid" class="card-header">
            </div>
            <div id="distributionplotdata" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="boxplotid" class="card-header">
            </div>
            <div id="boxplotdata" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
</div>
<div class="row" id="row2">
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="scatterplotid" class="card-header">
            </div>
            <div id="scatterplotdata" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
    <div class="col">
        <div class="card">
            <!-- start card-->
            <div id="correlationplotheading" class="card-header">
            </div>
            <div id="correlationplotdata" class="card-body">
            </div>
        </div>
        <!-- end card-->
    </div>
</div>